$color_1: #fff5c1;
$color_2: #faa628;
$color_3: #eb9a69;
$color_4: #8d5555;

%flex-column {
  display: flex;
  flex-direction: column;
}
%flex-center {
  justify-content: center;
  align-items: center;
}
button {
  border-style: none;
  background-color: $color_4;
  color: $color_1;
  padding: 0.5em;
  border-radius: 8px;
}
button:hover {
  background-color: darken($color_4, 5%);
}
input {
  border-style: none;
  padding: 0.5em;
  background-color: lighten($color_2, 5%);
  border-radius: 8px;
}
input:focus {
  outline: none;
}
.flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @extend %flex-center;
}
.column {
  @extend %flex-column;
  @extend %flex-center;
}
.error {
  color: red;
}
.movie {
  @extend %flex-column;
  max-width: 30vh;
  margin-left: auto;
  margin-right: auto;
  @extend %flex-center;
  flex-wrap: wrap;
  margin-top: 2em;
  background-color: lighten($color_2, 4%);
  padding: 1em;
  border-radius: 5px;
  min-height: 60vh;
  max-height: auto;
}
.searchBar {
  @extend %flex-column;
  @extend %flex-center;
  gap: 1em;
}
.column {
  display: flex;
  @extend %flex-center;
  gap: 1em;
  margin-top: 2em;
}
.flex-form {
  @extend %flex-column;
  gap: 1em;
}
.flex-radio {
  display: flex;
  gap: 1em;
}
